In [36]:
# Import all the necessary packages
import os
import pyodbc    
from dotenv import dotenv_values
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [37]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USER")
password = environment_variables.get("PASSWORD")

# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [38]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [39]:
# Use the connect method of the pyodbc library and pass in the connection string.
connection = pyodbc.connect(connection_string)

In [40]:
# access july table
query = "SELECT * FROM Sales_July_2019"

data_july = pd.read_sql(query, connection)
data_july

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,222910.0,Apple Airpods Headphones,1.0,150.000000,2026-07-19 16:51:00.0000000,"389 South St, Atlanta, GA 30301"
1,222911.0,Flatscreen TV,1.0,300.000000,2005-07-19 08:55:00.0000000,"590 4th St, Seattle, WA 98101"
2,222912.0,AA Batteries (4-pack),1.0,3.840000,2029-07-19 12:41:00.0000000,"861 Hill St, Atlanta, GA 30301"
3,222913.0,AA Batteries (4-pack),1.0,3.840000,2028-07-19 10:15:00.0000000,"190 Ridge St, Atlanta, GA 30301"
4,222914.0,AAA Batteries (4-pack),5.0,2.990000,2031-07-19 02:13:00.0000000,"824 Forest St, Seattle, WA 98101"
...,...,...,...,...,...,...
14366,236665.0,Wired Headphones,1.0,11.990000,2020-07-19 16:16:00.0000000,"694 Meadow St, Atlanta, GA 30301"
14367,236666.0,20in Monitor,1.0,109.989998,2031-07-19 20:11:00.0000000,"866 14th St, San Francisco, CA 94016"
14368,236667.0,AAA Batteries (4-pack),1.0,2.990000,2017-07-19 22:29:00.0000000,"249 Cherry St, Dallas, TX 75001"
14369,236668.0,Wired Headphones,1.0,11.990000,2030-07-19 19:28:00.0000000,"727 Wilson St, Austin, TX 73301"
14370,236669.0,AAA Batteries (4-pack),1.0,2.990000,2010-07-19 01:50:00.0000000,"743 9th St, New York City, NY 10001"

In [41]:
# save July data 
data_july.to_csv('july_data',index=False)

In [42]:
 # access aug table
query = "SELECT * FROM Sales_August_2019"

data_aug = pd.read_sql(query, connection)
data_aug

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,236670.0,Wired Headphones,2.0,11.990000,2031-08-19 22:21:00.0000000,"359 Spruce St, Seattle, WA 98101"
1,236671.0,Bose SoundSport Headphones,1.0,99.989998,2015-08-19 15:11:00.0000000,"492 Ridge St, Dallas, TX 75001"
2,236672.0,iPhone,1.0,700.000000,2006-08-19 14:40:00.0000000,"149 7th St, Portland, OR 97035"
3,236673.0,AA Batteries (4-pack),2.0,3.840000,2029-08-19 20:59:00.0000000,"631 2nd St, Los Angeles, CA 90001"
4,236674.0,AA Batteries (4-pack),2.0,3.840000,2015-08-19 19:53:00.0000000,"736 14th St, New York City, NY 10001"
...,...,...,...,...,...,...
12006,248146.0,Bose SoundSport Headphones,1.0,99.989998,2029-08-19 22:19:00.0000000,"868 Hickory St, San Francisco, CA 94016"
12007,248147.0,AAA Batteries (4-pack),3.0,2.990000,2031-08-19 16:26:00.0000000,"206 Lakeview St, Boston, MA 02215"
12008,248148.0,AA Batteries (4-pack),1.0,3.840000,2002-08-19 07:25:00.0000000,"568 13th St, Seattle, WA 98101"
12009,248149.0,USB-C Charging Cable,1.0,11.950000,2008-08-19 12:10:00.0000000,"495 Walnut St, San Francisco, CA 94016"
12010,248150.0,AA Batteries (4-pack),1.0,3.840000,2016-08-19 08:13:00.0000000,"738 Park St, Los Angeles, CA 90001"

In [43]:
# save auguest data
data_aug.to_csv('aug_data', index=False)

In [44]:
#
july = pd.read_csv('july_data')
july

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,222910.0,Apple Airpods Headphones,1.0,150.000000,2026-07-19 16:51:00.0000000,"389 South St, Atlanta, GA 30301"
1,222911.0,Flatscreen TV,1.0,300.000000,2005-07-19 08:55:00.0000000,"590 4th St, Seattle, WA 98101"
2,222912.0,AA Batteries (4-pack),1.0,3.840000,2029-07-19 12:41:00.0000000,"861 Hill St, Atlanta, GA 30301"
3,222913.0,AA Batteries (4-pack),1.0,3.840000,2028-07-19 10:15:00.0000000,"190 Ridge St, Atlanta, GA 30301"
4,222914.0,AAA Batteries (4-pack),5.0,2.990000,2031-07-19 02:13:00.0000000,"824 Forest St, Seattle, WA 98101"
...,...,...,...,...,...,...
14366,236665.0,Wired Headphones,1.0,11.990000,2020-07-19 16:16:00.0000000,"694 Meadow St, Atlanta, GA 30301"
14367,236666.0,20in Monitor,1.0,109.989998,2031-07-19 20:11:00.0000000,"866 14th St, San Francisco, CA 94016"
14368,236667.0,AAA Batteries (4-pack),1.0,2.990000,2017-07-19 22:29:00.0000000,"249 Cherry St, Dallas, TX 75001"
14369,236668.0,Wired Headphones,1.0,11.990000,2030-07-19 19:28:00.0000000,"727 Wilson St, Austin, TX 73301"
14370,236669.0,AAA Batteries (4-pack),1.0,2.990000,2010-07-19 01:50:00.0000000,"743 9th St, New York City, NY 10001"

In [45]:
query = "SELECT * FROM Sales_September_2019"

data_sep= pd.read_sql(query, connection)
data_sep

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,248151.0,AA Batteries (4-pack),4.0,3.840000,2017-09-19 14:44:00.0000000,"380 North St, Los Angeles, CA 90001"
1,248152.0,USB-C Charging Cable,2.0,11.950000,2029-09-19 10:19:00.0000000,"511 8th St, Austin, TX 73301"
2,248153.0,USB-C Charging Cable,1.0,11.950000,2016-09-19 17:48:00.0000000,"151 Johnson St, Los Angeles, CA 90001"
3,248154.0,27in FHD Monitor,1.0,149.990005,2027-09-19 07:52:00.0000000,"355 Hickory St, Seattle, WA 98101"
4,248155.0,USB-C Charging Cable,1.0,11.950000,2001-09-19 19:03:00.0000000,"125 5th St, Atlanta, GA 30301"
...,...,...,...,...,...,...
11681,259353.0,AAA Batteries (4-pack),3.0,2.990000,2017-09-19 20:56:00.0000000,"840 Highland St, Los Angeles, CA 90001"
11682,259354.0,iPhone,1.0,700.000000,2001-09-19 16:00:00.0000000,"216 Dogwood St, San Francisco, CA 94016"
11683,259355.0,iPhone,1.0,700.000000,2023-09-19 07:39:00.0000000,"220 12th St, San Francisco, CA 94016"
11684,259356.0,34in Ultrawide Monitor,1.0,379.989990,2019-09-19 17:30:00.0000000,"511 Forest St, San Francisco, CA 94016"
11685,259357.0,USB-C Charging Cable,1.0,11.950000,2030-09-19 00:18:00.0000000,"250 Meadow St, San Francisco, CA 94016"

In [46]:
data_sep.to_csv('sep_data',index=False)

In [47]:
query = "SELECT * FROM Sales_October_2019"

data_oct= pd.read_sql(query, connection)
data_oct

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,259358.0,34in Ultrawide Monitor,1.0,379.989990,2028-10-19 10:56:00.0000000,"609 Cherry St, Dallas, TX 75001"
1,259359.0,27in 4K Gaming Monitor,1.0,389.989990,2028-10-19 17:26:00.0000000,"225 5th St, Los Angeles, CA 90001"
2,259360.0,AAA Batteries (4-pack),2.0,2.990000,2024-10-19 17:20:00.0000000,"967 12th St, New York City, NY 10001"
3,259361.0,27in FHD Monitor,1.0,149.990005,2014-10-19 22:26:00.0000000,"628 Jefferson St, New York City, NY 10001"
4,259362.0,Wired Headphones,1.0,11.990000,2007-10-19 16:10:00.0000000,"534 14th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
20374,278792.0,AA Batteries (4-pack),1.0,3.840000,2012-10-19 04:32:00.0000000,"920 Adams St, San Francisco, CA 94016"
20375,278793.0,Wired Headphones,1.0,11.990000,2028-10-19 22:00:00.0000000,"161 Chestnut St, Los Angeles, CA 90001"
20376,278794.0,AA Batteries (4-pack),1.0,3.840000,2009-10-19 20:58:00.0000000,"346 Spruce St, San Francisco, CA 94016"
20377,278795.0,iPhone,1.0,700.000000,2031-10-19 17:21:00.0000000,"291 Hill St, Seattle, WA 98101"
20378,278796.0,Wired Headphones,1.0,11.990000,2013-10-19 11:20:00.0000000,"547 Jefferson St, Los Angeles, CA 90001"

In [48]:
data_oct.to_csv('oct_data',index=False)

In [49]:
query = "SELECT * FROM Sales_November_2019"

data_nov= pd.read_sql(query, connection)
data_nov

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,278797.0,Wired Headphones,1.0,11.990000,2021-11-19 09:54:00.0000000,"46 Park St, New York City, NY 10001"
1,278798.0,USB-C Charging Cable,2.0,11.950000,2017-11-19 10:03:00.0000000,"962 Hickory St, Austin, TX 73301"
2,278799.0,Apple Airpods Headphones,1.0,150.000000,2019-11-19 14:56:00.0000000,"464 Cherry St, Los Angeles, CA 90001"
3,278800.0,27in FHD Monitor,1.0,149.990005,2025-11-19 22:24:00.0000000,"649 10th St, Seattle, WA 98101"
4,278801.0,Bose SoundSport Headphones,1.0,99.989998,2009-11-19 13:56:00.0000000,"522 Hill St, Boston, MA 02215"
...,...,...,...,...,...,...
17656,295660.0,AAA Batteries (4-pack),2.0,2.990000,2004-11-19 14:17:00.0000000,"574 4th St, Los Angeles, CA 90001"
17657,295661.0,USB-C Charging Cable,1.0,11.950000,2023-11-19 07:22:00.0000000,"359 1st St, Austin, TX 73301"
17658,295662.0,Lightning Charging Cable,1.0,14.950000,2013-11-19 16:12:00.0000000,"900 10th St, Boston, MA 02215"
17659,295663.0,AAA Batteries (4-pack),1.0,2.990000,2017-11-19 17:08:00.0000000,"592 Sunset St, Boston, MA 02215"
17660,295664.0,Google Phone,1.0,600.000000,2017-11-19 16:13:00.0000000,"428 Jackson St, Boston, MA 02215"

In [50]:
data_nov.to_csv('nov_data',index=False)

In [51]:
query = "SELECT * FROM Sales_December_2019"

data_dec= pd.read_sql(query, connection)
data_dec

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,295665.0,Macbook Pro Laptop,1.0,1700.000000,2030-12-19 00:01:00.0000000,"136 Church St, New York City, NY 10001"
1,295666.0,LG Washing Machine,1.0,600.000000,2029-12-19 07:03:00.0000000,"562 2nd St, New York City, NY 10001"
2,295667.0,USB-C Charging Cable,1.0,11.950000,2012-12-19 18:21:00.0000000,"277 Main St, New York City, NY 10001"
3,295668.0,27in FHD Monitor,1.0,149.990005,2022-12-19 15:13:00.0000000,"410 6th St, San Francisco, CA 94016"
4,295669.0,USB-C Charging Cable,1.0,11.950000,2018-12-19 12:38:00.0000000,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
25112,319666.0,Lightning Charging Cable,1.0,14.950000,2011-12-19 20:58:00.0000000,"14 Madison St, San Francisco, CA 94016"
25113,319667.0,AA Batteries (4-pack),2.0,3.840000,2001-12-19 12:01:00.0000000,"549 Willow St, Los Angeles, CA 90001"
25114,319668.0,Vareebadd Phone,1.0,400.000000,2009-12-19 06:43:00.0000000,"273 Wilson St, Seattle, WA 98101"
25115,319669.0,Wired Headphones,1.0,11.990000,2003-12-19 10:39:00.0000000,"778 River St, Dallas, TX 75001"
25116,319670.0,Bose SoundSport Headphones,1.0,99.989998,2021-12-19 21:45:00.0000000,"747 Chestnut St, Los Angeles, CA 90001"

In [52]:
data_dec.to_csv('dec_data',index=False)

In [54]:
dec = pd.read_csv('dec_data')
dec

,Order_ID,Product,Quantity_Ordered,Price_Each,Order_Date,Purchase_Address
0,295665.0,Macbook Pro Laptop,1.0,1700.000000,2030-12-19 00:01:00.0000000,"136 Church St, New York City, NY 10001"
1,295666.0,LG Washing Machine,1.0,600.000000,2029-12-19 07:03:00.0000000,"562 2nd St, New York City, NY 10001"
2,295667.0,USB-C Charging Cable,1.0,11.950000,2012-12-19 18:21:00.0000000,"277 Main St, New York City, NY 10001"
3,295668.0,27in FHD Monitor,1.0,149.990005,2022-12-19 15:13:00.0000000,"410 6th St, San Francisco, CA 94016"
4,295669.0,USB-C Charging Cable,1.0,11.950000,2018-12-19 12:38:00.0000000,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
25112,319666.0,Lightning Charging Cable,1.0,14.950000,2011-12-19 20:58:00.0000000,"14 Madison St, San Francisco, CA 94016"
25113,319667.0,AA Batteries (4-pack),2.0,3.840000,2001-12-19 12:01:00.0000000,"549 Willow St, Los Angeles, CA 90001"
25114,319668.0,Vareebadd Phone,1.0,400.000000,2009-12-19 06:43:00.0000000,"273 Wilson St, Seattle, WA 98101"
25115,319669.0,Wired Headphones,1.0,11.990000,2003-12-19 10:39:00.0000000,"778 River St, Dallas, TX 75001"
25116,319670.0,Bose SoundSport Headphones,1.0,99.989998,2021-12-19 21:45:00.0000000,"747 Chestnut St, Los Angeles, CA 90001"